<div class="row">
  <div class="col-6 col-md-3">
  <h2><p>Younmee Oh</p></h2>
  <p></p>
  <h4>Education</h4>
  <p>San Jose City College, Computer Science</p>
    </div>
  <div class="col-12 col-md-8">
  <h2>Projects</h2>
  </div>
</div>