<html>
<head>
<style>

</style>
</head>

<body>

<div class="page">
  <div class="top">
  
    <div class="sidebar">
    <h2><p>Younmee Oh</p></h2>
    <p></p>
    <br>
    <a href="https://github.com/younmeeoh"target="_blank">
    GitHub</a>
    <p></p>
    <a href="https://www.linkedin.com/in/younmeeoh/"target="_blank">Linkedin</a>
    <h4>Education</h4>
    <p>San Jose State University, B.S, Applied and Computational Math</p>
    <h4>Language</h4>
    <p>Python, R, Java, C/C++, Ruby, CSS, HTML, Javascript</p>
    <h4>Framework</h4>
    <p>Boostrap, Rails, Anaconda</p>
    
    </div>
    <div class="projects">
    <h2 class="project__title">Projects</h2>
    <br>
    <h4 class="project__name">OP.GG Bot</h4>
       <div class="container"style="cursor:pointer;" onclick="document.location='https://github.com/younmeeoh/discordbot'">
        <div class="card">
        <a href="https://www.localhost:3000"><img src="https://i.imgur.com/bmjO8LC.jpg" alt="" class="card__img"></a> 
          <div class="card__text">
            <h3 class="card__title">Click here</h3>
            <p class="card__body">Travel to github link</p>
          </div> 
        </div> 
       </div>
      <div class="description"> 
        <ul class="list-unstyled">
          <ul>
          <li>Python 3.6 and Anaconda.</li>
          <li>Developed discord bot to interact with users via textcommands.</li>
          <li>Responds to user with requested user search on op.gg website.</li>
          </ul>
        </ul>
      </div>
    <h4 class="project__name">Twitter Webscraper</h4>
       <div class="container"style="cursor:pointer;" onclick="document.location='https://github.com/younmeeoh/DEDLL'">
        <div class="card">
        <a href="https://www.localhost:3000"><img src="https://i.imgur.com/bmjO8LC.jpg" alt="" class="card__img"></a> 
          <div class="card__text">
            <h3 class="card__title">Click here</h3>
            <p class="card__body">Travel to github link</p>
          </div> 
        </div> 
       </div>
      <div class="description"> 
        <ul class="list-unstyled">
          <ul>
          <li>Created double ended, and doubly linked list using Java.</li>
          <li>Developed several functions including reverse, and remove duplicates.</li>
          </ul>
        </ul>
      </div>-->
    </div>    
  </div> 
  <!--<div class="experience">
    <div class="col-6 col-md-3">
    </div>
    <div class="col-12 col-md-8">-->

    
    <!--<div class="col-6 col-md-3">
    
    
    <div class="col-12 col-md-8">-->
    <div class="activities">
      <h2><p>Activities</p></h2>
        <p><h4>Machine Learning Seminar</h4><p>Fall 2019</p>
          <ul class="list-unstyled">
            <ul>
              <li>Earned digital Badge for displaying competency with the 
              fundamental concepts of machine learning such as 
              supervised learning, unsupervised learning. </li>   
              <li>Hands-on analysis of real-world datasets using Jupyter Notebook, pandas,
              matplotlib, sklearn, and seahorse.</li>
          </ul>
      </div>
            <!--<li>Vestibulum laoreet porttitor sem</li>
        <li>Ac tristique libero volutpat at</li>-->
    
    
    
       
      </ul>
    </div>
  </div>
</div>
</body>
</html>