<html>
<head>
<style>
h2 {color: #202020;}
h2 {font-family:courier;}
h4 {color: #202020;}
h4 {font-family:courier;}
h5 {color: #202020;}
h5 {font-family:courier;}
p  {color: #202020;}
p  {font-family:courier;}
li {font-family:courier;}
li {color: #202020;}
</style>
</head>

<body>
<div class="page">
  <div class="row">
    <div class="col-6 col-md-3">
    <h2><p>Younmee Oh</p></h2>
    <p></p>
    <h5>Education</h5>
    <p>SJCC, Computer Science</p>
    <h5>Language</h5>
    <p>English & Korean</p>
    </div>
    <div class="col-12 col-md-8">
    <h2><p>Projects</p></h2>
    
    <p><h4>Example One</h4><p>Date and resource</p></p>
    <ul class="list-unstyled">
      <ul>
      <li>Vestibulum id ligula porta felis euismod semper.</li>
      <li>Purus  eget lacinia sodales ultricies.</li>
      <li>Vestibulum laoreet porttitor sem  odio sem.</li>
      <li>Ac tristique libero volutpat at nec elit.</li>
      </ul>
    </ul>
    </div>
  </div> 
  <div class="row">
    <div class="col-6 col-md-3">
    </div>
    <div class="col-12 col-md-8">
    <h2><p>Experience</p></h2>
    <p><h4>Location</h4><p>Date and Time</p></p>
    <ul class="list-unstyled">
      <ul>
      <li>Phasellus iaculis neque</li>
      <li>Purus sodales ultricies</li>
      <li>Vestibulum laoreet porttitor sem</li>
      <li>Ac tristique libero volutpat at</li>
      </ul>
    </ul>
    </div>
  </div>  
</div>
</body>
</html>