<html>
<head>
<style>

</style>
</head>

<body>

<div class="page">
  <div class="top">
  
    <div class="sidebar">
    <h2><p>Younmee Oh</p></h2>
    <p></p>
    <br>
    <h4>Education</h4>
    <p>San Jose State University, B.S, Applied and Computational Math</p>
    <h4>Language</h4>
    <p>Python, Java, C/C++, Ruby on Rails, HTML, Javascript</p>
    </div>
    <div class="projects">
    <h2 class="project__title">Projects</h2>
    <br>
    <h4 class="project__name">DEDLL</h4>
       <div class="container"style="cursor:pointer;" onclick="document.location='https://github.com/younmeeoh/DEDLL'">
        <div class="card">
        <a href="https://www.localhost:3000"><img src="https://drive.google.com/file/d/1yw_9AeHKBFmpAc-87pcx_JgwpidPqbfN/view?usp=sharing" alt="" class="card__img"></a> 
          <div class="card__text">
            <h3 class="card__title">Click here</h3>
            <p class="card__body">Travel to github link</p>
          </div> 
        </div> 
       </div>
      <div class="description"> 
        <ul class="list-unstyled">
          <ul>
          <li>Created double ended, and doubly linked list using Java.</li>
          <li>Developed several functions including reverse, and remove duplicates.</li>
          </ul>
        </ul>
      </div>
    </div>    
  </div> 
  <div class="experience">
    <div class="col-6 col-md-3">
    </div>
    <div class="col-12 col-md-8">
    
    <!--<h2><p>Experience</p></h2>
    
    <p><h4>Location</h4><p>Date and Position</p></p>
      <!--<ul class="list-unstyled">
        <ul>
        <li>Phasellus iaculis neque</li>
        <li>Purus sodales ultricies</li>
        <li>Vestibulum laoreet porttitor sem</li>
        <li>Ac tristique libero volutpat at</li>
       </ul>
      </ul>-->
    </div>
  </div>
</div>
</body>
</html>