/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 @import url('https://fonts.googleapis.com/css?family=Unica+One|Vollkorn');

$ff-ss: 'Unica One';
$ff-s: 'Vollkorn';

$clr-red: #c31;
$clr-black: rgba(black, 1);
$clr-gray: rgba(black, .7);

:root {
    margin: 50px; 
}

.h1 {
    font-family: $ff-ss;
    text-transform: uppercase;
    line-height: .9;
    color: #c31;
    font-size:1rem;
}
.sidebar {
    float: left;
    text-align: center;
    position: fixed;
    top:10%;
    width: 10%;
    height: 700px;
}

.projects {
    text-align: left;
    align: left;
    right: 500px;
    float:center;
    width: 600px;
    left: 20%; 
    top: 10%; 
    position: absolute; 
    margin-top: 0px;
}


.experience {
    float:left;
    width: 15%;
    top: 33%; 
    position: absolute; 
    margin-top: 0px;
}

.activities {
  text-align: left;
  align: right;
  float:right;
  width: 20%;
  top: 10%;
  position: relative;
  margin-top:100px;
}


*, *::before, *::after { box-sizing: border-box }

body {
  font-size: 1rem;
  text-align: center;
  font-family: $ff-s;
  line-height: 1.4;
  color: $clr-gray;
}

h1, h2, h3, h4, h5 {
  font-family: $ff-ss;
  text-transform: uppercase;
  line-height: .9;
  color: #c31;
}

h2 {
  margin-top: 1.2em;
  margin-bottom: 0;
}

p {
  margin-top: .25em;
}

a {
  color: $clr-red;
}

.intro {
  font-size: 4rem;
}

blockquote {
  font-size: 2rem;
  color: $clr-black;
  
  &::before {
    content: open-quote;
  }
  
  &::after {
    content: close-quote;
  }
}

.container {
  width: 80%;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items:left;
}


.card {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  background: $clr-gray;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    opacity: 1;
    transition: transform ease-out 250ms;
  }
  
  &::before {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0,1);
  }
  
  &::after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1,0);
  }
  
  &:hover::before {
    transform: scale(1.05, 1);
  }
  
  &:hover::after {
    transform: scale(1, 1.05);
  }
}


.card__img {
  max-width: 100%;
  display: block;
  transition: opacity ease-out 250ms;

}

.card:hover {
  .card__img {
    opacity: .4;
  }
}

.card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: opacity ease-out 250ms;
}

.card:hover .card__text {
  opacity: 1;
}

.card__title {
  font-size: 2rem;
  color: white;
  margin-bottom: 0;
}



.source {
  opacity: .8;
  position: absolute;
  width: 100%;
  bottom: 1em;
}